.RightSide {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  position: relative;
  overflow: auto; 
  height: 100%; /* Ocupa toda la altura disponible */
  max-height: 100vh; /* Límite máximo */
}

.tableContainer {
  flex: 1;
  background: white;
  border-radius: 0.7rem;
  padding: 1rem;
  box-shadow: 0px 13px 20px 0px rgba(128, 128, 128, 0.16);
  display: flex;
  flex-direction: column;
  overflow: auto;  
  max-height: calc(100vh - 3rem); 
}

.tableContainer-inner {
  overflow-y: auto; 
  border-radius: 0.7rem;
  max-height: calc(80vh - 4rem); 
  height: 100%;
}

.Table {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.7rem;
  overflow: visible !important;
}

.MuiTableContainer-root {
  border-radius: 0.7rem !important;
  overflow: hidden !important;
  box-shadow: none !important;
}